body{background: black;}
input{    border: 2px dashed greenyellow;
    color: greenyellow;
background-color: black; }
#menu{
    margin :auto;
    padding: 50px;
    border: 2px dashed greenyellow;
    color: greenyellow; 
    text-align:left;
padding-right:50%; }
#preTag{
    color: greenyellow; 
    margin: auto;
    text-align: center;}

button :active{
    background-color: red;

}