body{background: black;}
input{    border: 2px dashed greenyellow;
    color: greenyellow;
background-color: black; 
margin:10px;}
#menu{
    margin-right: 50%;
    
    border: 2px dashed greenyellow;
    color: greenyellow; 
    text-align:left;
padding-right:50%;
padding-bottom: 20px; }
#preTag{
    color: greenyellow; 
    margin: auto;
    text-align: center;}

}