h1{color: red;
font-size: 50px;
text-align:center;}
h2{color: darkred;
    font-size: 30px;
    text-align:center;}

p{background-color:orangered;
border: 5px dotted yellow;
margin-left:400px;
margin-right:400px;
font-size: 25px;
color: darkred;
}
body{background-color:teal}